{% extends 'layout.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div class="container mt-4">

  <h1>{{ title }}</h1>
  <hr>

  <div class="card mt-3 mb-3">

    <div class="card-header">
      <h3>Change Password Form</h3>
    </div>

    <div class="card-body">

      <form method="POST">

        <div class="mb-3">
          <label class="form-label">Old Password</label>
          <input name="old_password" type="password" class="form-control" required>
        </div>

        <div class="mb-3">
          <label class="form-label">New Password</label>
          <input name="new_password" type="password" class="form-control" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Confirm New Password</label>
          <input name="confirm_password" type="password" class="form-control" required>
        </div>

        <hr>

        <button type="submit" class="btn btn-outline-secondary">
          <i class="bi bi-key"></i>
          Change Password
        </button>

        <a href="{{ url_for('users.profile') }}" class="btn btn-outline-warning">
          Back
        </a>

      </form>

    </div>
  </div>

</div>

{% endblock %}