{% extends 'layout.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div class="container mt-4">

<h1>{{ title }}</h1>
<hr>

<div class="card mt-3 mb-3">

<div class="card-header">
<h3>Profile Information</h3>
</div>

<div class="card-body">

<form method="POST" class="row g-3">

<div class="col-md-6">
<label class="form-label">Username</label>
<input name="username" value="{{ user.username }}" type="text" class="form-control">
</div>

<div class="col-md-6">
<label class="form-label">Email Address</label>
<input name="email" value="{{ user.email }}" type="email" class="form-control">
</div>

<div class="col-12 mt-3">

<button type="submit" class="btn btn-outline-secondary">
<i class="bi bi-person-square"></i>
Update Profile
</button>

<a href="{{ url_for('users.change_password') }}" class="btn btn-outline-warning">
Change Password
</a>

</div>

</form>

</div>

</div>

</div>

{% endblock %}