{% extends 'layout.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}

<div class="container mt-3">

<h1>Edit Fighter</h1>

<hr>

<form method="POST">

<div class="mb-3">
<label>Name</label>
<input name="name" class="form-control" value="{{fighter.name}}">
</div>

<div class="mb-3">
<label>Height</label>
<input name="height" class="form-control" value="{{fighter.height}}">
</div>

<div class="mb-3">
<label>Weight</label>
<input name="weight" class="form-control" value="{{fighter.weight}}">
</div>

<div class="mb-3">
<label>Age</label>
<input name="age" class="form-control" value="{{fighter.age}}">
</div>

<div class="mb-3">
<label>Country</label>
<input name="country" class="form-control" value="{{fighter.country}}">
</div>

<div class="mb-3">
<label>Team</label>
<input name="team" class="form-control" value="{{fighter.team}}">
</div>

<div class="mb-3">
<label>Description</label>
<textarea name="description" class="form-control">{{fighter.description}}</textarea>
</div>

<button class="btn btn-primary">
Update Fighter
</button>

</form>

</div>

{% endblock %}