{% extends 'layout.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div class="container mt-3">

  <h1>{{ title }}</h1>
  <hr>

  <div class="row">

{% for onechampionship in onechampionships.items %}
<div class="col-lg-3 col-md-4 col-sm-6">

  <div class="card mt-4 card-onechampionship">

    <a href="{{ url_for('onechampionship.detail_onechampionship', id=onechampionship.id) }}">
      <img src="{{ onechampionship.image }}" class="card-img-top bg-secondary" alt="{{ onechampionship.name }}">
    </a>

    <div class="card-body">

      <h5 class="card-title">
        {{ onechampionship.name }}
      </h5>

      <p class="card-text">
        {{ onechampionship.country }}
      </p>

      <a href="{{ url_for('onechampionship.detail_onechampionship', id=onechampionship.id) }}" class="btn btn-outline-success btn-sm">
        View Detail
      </a>

    </div>

  </div>

</div>
{% endfor %}

  </div>

  <div class="mt-4">
    {% include 'core/pagination.html' %}
  </div>

</div>

{% endblock %}
