{% extends 'layout.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div class="container mt-3 mb-3">
  <h1>{{ title }}</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <a href="{{ url_for('formulaone.new_formulaone') }}" class="btn btn-outline-secondary">
        <i class="bi bi-file-earmark-plus"></i>
        New Driver
      </a>
    </div>
    <div class="col-md-6"></div>
  </div>

  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th>#</th>
        <th>Driver Name</th>
        <th>Created At</th>
      </tr>
    </thead>

    <tbody>
      {% for driver in drivers %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ driver.name }}</td>
        <td>{{ driver.created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}